nbproject
._*
.~lock.*
.buildpath
.DS_Store
data/*
node_modules/*
.idea
.project
.settings
.sass-cache
Thumbs.db
composer.lock
/vendor/
/logs/*
!/logs/README.md
backup/*
public/assets
public/vendor
public/uploads
*.p12
!.gitignore
